<div class="row">
  <div class="col-12 col-12-sm col-12-md">
    <div class="card">

      <div class="card-header">
        Add Product form</div>
      <div class="card-body">
        <form class="form-group" [formGroup]="productForm">
          <label>NAME:</label>
          <input type="text" class="form-control" formControlName="name"><br>

          <label>Price:</label>
          <input type="number" class="form-control" formControlName="price"><br>

          <label>MakeDate:</label>
          <input type="date" class="form-control" formControlName="date"><br>

          <label>Description:</label>
          <textarea class="form-control" formControlName="description"></textarea>
          <br>
          <button type="submit" class="btn btn-dark" (click)="handleform($event)">submit</button>
        </form>
      </div>
    </div>


  </div>



</div>