<div *ngIf="accounts.length===0">
    No Products
  </div>
  
    <div  *ngIf="accounts.length!==0">
    
        <h2>Account List</h2>
        <hr/>
        
      <table class="table ">
        <thead class="thead-dark">
          <tr>
            <!-- <th>Id</th> -->
            <th>Account Number</th>
            <th>Name </th>
            <th>Balaance</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts">
            <!-- <td>{{product.id}}</td> -->
            <td>{{account.num}}</td>
            <td>{{account.holderName}}</td>
            <td>{{ account.balance | currency:'INR'}}</td>
            <td>{{account.type}}</td>
          </tr>
        </tbody>
      </table>
  
   
  </div>
  <hr/>
  <button class="btn btn-primary" (click)="handleSubmit($event)">
        <i class="fa fa-plus"></i>
    </button>
